<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Análise de Gargalos</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        text-align: center;
      }
      form {
        margin-top: 20px;
      }
    </style>
  </head>
  <body>
    <h1>Selecione o Ano para Gerar o Gráfico</h1>
    <form action="/grafico" method="post">
      <select name="ano">
        {% for ano in anos %}
        <option value="{{ ano }}">{{ ano }}</option>
        {% endfor %}
      </select>
      <button type="submit">Gerar Gráfico</button>
    </form>
  </body>
</html>
