{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2>Login do Sistema</h2>
      <form method="POST" action="">
        {{ form.hidden_tag() }} <div class="mb-3">
          {{ form.matricula.label(class="form-label") }}
          {{ form.matricula(class="form-control") }}
        </div>
        <div class="mb-3">
          {{ form.password.label(class="form-label") }}
          {{ form.password(class="form-control") }}
        </div>
        {{ form.submit(class="btn btn-primary") }}
      </form>
    </div>
  </div>
{% endblock %}