{% extends "layouts/base.html" %}

{% block title %}Cadastro de Setor{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Cadastrar Novo Setor</h2>
    <form method="POST" action="{{ url_for('admin.cadastrar_setor') }}">
        <div class="form-group">
            <label for="nome_setor">Nome do Setor</label>
            <input type="text" class="form-control" id="nome_setor" name="nome_setor" required>
        </div>
        <button type="submit" class="btn btn-primary">Salvar Setor</button>
    </form>
</div>
{% endblock %}