{% extends "layouts/base.html" %}

{% block title %}Colaboradores{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Lista de Colaboradores</h2>
    <hr>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Setor</th>
                <th scope="col">Líder</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            {% for colaborador in colaboradores %}
            <tr>
                <td>{{ colaborador.nome }}</td>
                <td>{{ colaborador.setor.nome }}</td>
                <td>{{ colaborador.lider.nome }}</td>
                <td>{{ colaborador.status }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}